<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Konvas Image Drager
  </h1>
 </div>
<div class='container'>
  <ko-stage #stage [config]="configStage">
    <ko-layer #layer *ngFor="let layer of layers">
      <!-- <ko-image [config]="configLayer.configImage" (dragend)="handleDragEnd($event)"> </ko-image>  -->
    </ko-layer>
  </ko-stage>
</div>
<div> 

  <button (click)="reDraw()"> Redraw</button>
  <button (click)="printCoordinates()"> Print Coordinates</button>
  <button (click)="addImages()"> addImages</button>
  <button (click)="addImageFromURL()"> addImageFromURL</button>
</div>
<div>
  <button *ngFor="let image of images" (click)="makeDraggable(image.image)" > {{image.name}} </button>
</div>
<router-outlet></router-outlet>
